.userImagePage{
    background-color: linear-gradient(100deg,aliceblue,rgb(84, 84, 218));
}

.allImages{
    border-radius: 8%;
    padding-top: 20px;
    padding-left: 15px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 350px;
    width: 500px;
    /* justify-content: space-between; */
}

.user-image-header, .user-image-subheader{
    color: blue;
}

.upload-user-img{
    margin-left: 5px;
    border-radius: 10px;
    color: blue;
    border-color: rgb(197, 30, 197);
}

.upload-user-img:hover{
    background-color: white;
    font-weight: bold;
}

.img-input{
    margin-left: 5px;
}

.imgUrl-label{
    font-weight: bold;
    font-size: 16pt;
}

.delete-button{
    display: flex;
    padding-left: 450px;
    padding-top: 5px;
}

.delete-btn{
    border-radius: 10px;
    border-color: blueviolet;
    color: blue
}

.delete-btn:hover{
    font-weight: bold;
}

.allUserImages{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* border: red 2px solid; */
}
