.fave-image{
    border-radius: 10px;
    padding-right: 5px;
    width: 500px;
    height: 350px;
}

.fave-img-div{
    display: inline-flex;
    flex-direction: row;
}

.user-homepage{
    text-decoration: none;
}

.faves-pg-background{
    height: 1000px;
}

.favorites-header{
    color: blue;
}
