/* .home-nav{
    font-family: 'Titan One', cursive;
    text-decoration: none;
    padding-top: 10px;
} */

.new-album{
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
}

.album-title{
    text-decoration: none;
}

.edit-album-btn:hover, .delete-album-btn:hover{
    font-weight: bold;
    background-color: white;
}

.edit-album-btn, .delete-album-btn{
    border-color: rgb(248, 63, 248);
    color: blue;
    border-radius: 25px;
}
.edit-album-btn{
    margin-right: 10px;
}
