.home-nav{
    font-family: 'Titan One', cursive;
    text-decoration: none;
    padding-top: 10px;
}

.new-album{
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
    font-size: 18px;
}
