/* .imageDiv{
    width: 80%;
    height: 60%;
    border: 20px;
    border-color: black;
} */

.imagePage{
    background-color: aliceblue;
}

.contentBox{
    border: solid;
    border-color: black;

    width: 600px;
    height: 100px;
    color: black;
    background-color: blueviolet;

}
