/* .imageDiv{
    width: 80%;
    height: 60%;
    border: 20px;
    border-color: black;
} */

.imagePage{
    background-color: linear-gradient(100deg,aliceblue,rgb(84, 84, 218));
    border-radius: 20%;
    padding-top: 10px;
}

.contentBox{
    border: solid;
    border-color: black;

    width: 600px;
    height: 100px;
    color: black;
    background-color: blueviolet;

}

.nav-to-albums{
    font-family: 'Titan One', cursive;
    text-decoration: none;
}
