/* .imageDiv{
    width: 80%;
    height: 60%;
    border: 20px;
    border-color: black;
} */

.imagePage{
    background-color: beige;
}

.contentBox{
    border: solid;
    border-color: black;
<<<<<<< HEAD
    width: 500px;
    height: 100px;
    color: black;
    background-color:burlywood;
=======
    width: 600px;
    height: 100px;
    color: black;
    background-color: burlywood;
>>>>>>> new_CSS
}
