.albums, .images, .favorites{
    padding: 15px;
    font-size: 30px;
    font-family: 'Titan One', cursive;
    text-decoration: none;
    border-radius: 20%;
    display: inline-flex;
}

.favorites, .images{
    padding-left: 300px;
}
h3{
    /* text-decoration: none; */
    color: blue;
    font-family: 'Courgette', cursive;
    font-size: 24px;
    font-weight: 100;
}

header{
    text-decoration: none;
}


.photos{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 10px;
    width: 500px;
    height: 350px;
    /* border: yellow 2px solid; */

}

.like-button{
    position:absolute;
    width:20px;
    height: 15px;
    border: none;
    background-color: transparent;
    /* padding-right: 30px; */
    padding-top: 8px;
}
.like-button:hover{
    background-color: transparent;
}
