.albums, .images{
    padding: 25px;
    font-size: 30px;
    font-family: 'Titan One', cursive;
    text-decoration: none;
}

h3{
    /* text-decoration: none; */
    color: blue;
    font-family: 'Courgette', cursive;
    font-size: 24px;
    font-weight: 100;
}

header{
    text-decoration: none;
}
