.albums, .images{
    padding: 15px;
    font-size: 30px;
    font-family: 'Titan One', cursive;
    text-decoration: none;
    border-radius: 20%;
}

h3{
    /* text-decoration: none; */
    color: blue;
    font-family: 'Courgette', cursive;
    font-size: 24px;
    font-weight: 100;
}

header{
    text-decoration: none;
}


.photos{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 10px;
    width: 500px;
    height: 350px;
    /* border: yellow 2px solid; */

}
