.background{
    background-color: aliceblue;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password-input{
    padding-bottom: 15px;
    padding-top: 5px;
}

button{
    border-radius: 25%;
    /* border-color: rgb(246, 246, 13); */
    border-color: rgb(221, 165, 223);
    color: purple;
    font-weight: bold;
}

.credential-input, .password-input{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:blueviolet;
}
