.profile-dropdown{
    flex-direction: column;
    display:flex;
    align-content: center;
    border: solid grey;
    border-width: 1px;
    padding-left: 800px;
}

.title, .active{
    font-family: 'Titan One', cursive;
    /* font-size: large; */
    text-decoration: none;
}
