.profile-dropdown{
    flex-direction: column;
    display:flex;
    align-content: center;
    border: none;
    padding-left: 600px;
}

.title, .active, .albumSpan{
    font-family: 'Titan One', cursive;
    text-decoration: none;
    padding-bottom: 10px;
}

.nav-button{
    border-radius: 25%;
    color: blue;
    border-color: blue;

}

button:hover{
    background-color: white;
}

#nav-button{
    padding-top: 10px;
}

.albumSpan{
    text-decoration: none;
}

.footer{
    background-color: rgba(0, 0, 0, 0.733);
    height: 30px;
    /* color: purple; */
}
